<!-- account dropdown macro -->
{% macro display_drop(current_user) %}
<div
  class="account_drop absolute top-2 right-6 w-64 bg-gray-200 rounded-3xl py-3 px-4"
>
  <ul
    class="flex flex-col items-center w-full gap-2 border-b-[1px] border-gray-300 pb-2"
  >
    {% if not current_user.is_authenticated %}
    <li
      class="text-lg font-bold bg-black rounded-full w-full text-white text-center py-1 cursor-pointer"
      onclick="window.location.href='/login'"
    >Log In</li>
    <li
      class="text-md rounded-full w-full text-center cursor-pointer"
      onclick="window.location.href='/register'"
    >Register</li>
    {% else %}
    <li class="text-md rounded-full w-full text-center">
      Hi {{current_user.username }}!
    </li>
    {% endif %}
  </ul>
  {% if current_user.is_authenticated %}
  <ul
    class="flex flex-col items-center w-full gap-2 border-b-[1px] border-gray-300 mx-2 pb-2"
  >
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/myOrders'"
      >
      <a class="flex w-full pl-2">My Orders</a>
    </li>
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/myCart'"
      >
      <a class="flex w-full pl-2">Cart</a>
    </li>   
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/wishlist'"
      >
      <a class="flex w-full pl-2">Wishlist</a>
    </li>
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/myGarage'"
      >
      <a class="flex w-full pl-2">Garage</a>
    </li>
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/messages'"
      >
      <a class="flex w-full pl-2">Messages</a>
    </li>
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/account'"
      >
      <a class="flex w-full pl-2">Account</a>
    </li>
    <li 
      class="w-full text-lg hover:bg-black hover:text-white cursor-pointer"
      onclick="window.location.href='/logout'"
      >
      <a href="/logout" class="flex w-full pl-2">Log out</a>
    </li>
  </ul>
  {% endif %}
</div>
{% endmacro %}
