<!-- header's macro -->
{% macro display_header(current_user) %}
<header
  class="sticky z-10 top-0 w-full border-b-2 border-b-primary bg-black p-3"
>
  <nav class="flex justify-between items-center">
    <a href="/home">
      <img
        src="../static/images/caribawhite.png"
        alt="Cariba Logo"
        width="110"
        class="max-md:w-[80px]"
      />
    </a>
    <!-- search bar -->
    <form id="search_bar" class="flex h-10 max-md:hidden", method="POST", action="/search">
      <input
        id="search_input"
        name="name"
        type="text"
        placeholder="Search Cariba"
        class="px-3 py-2 rounded-l-lg w-96 focus:outline-none"
        required
      />
      <button
        type="submit"
        class="flex items-center justify-center bg-primary px-3 rounded-r-lg hover:cursor-pointer"
      >
        <img
          src="../static/images/magnifying-glass.png"
          alt="Search icon"
          width="28px"
        />
      </button>
    </form>
    <ul class="flex flex-row items-center gap-3">
      <!-- login / register -->
      <li class="nav_my_account">
        <span class="text-white text-sm max-md:hidden">
          <span class="text-xs">Hi, welcome!</span>
          <br />
          {% if current_user.is_authenticated %} {{ current_user.username }} {%
          else %} Login / register {% endif %}
        </span>
        <img
          src="../static/images/user2.png"
          alt="Account Icon"
          width="24px"
          class="hidden max-md:block"
        />
        <!-- account window -->
        {% import 'components/account_drop.html' as accDrop %} {{
        accDrop.display_drop(current_user) }}
      </li>
      <!-- cart -->
      <li>
        <a href="/myCart" class="flex justify-between gap-1 items-end">
          <img
            src="../static/images/shopping-cart.png"
            alt="Shopping Cart"
            class="w-10 max-md:w-7"
          />
          <div class="flex flex-col p-0 items-center max-md:hidden" width="16">
            <h4 class="text-white text-sm">Cart</h4>
            <div class="bg-white flex rounded-full px-3 items-center">
              <h4 id="cart_items_count" class="text-darkPrimary text-sm">
                {% if current_user.is_authenticated %} {{
                current_user.cart.total_items }} {% else %} 0 {% endif %}
              </h4>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- search bar -->
  <form id="search_bar" class="md:hidden h-10 max-lg:flex w-full mt-1", method="POST", action="/search">
    <input
      id="search_input"
      name="name"
      type="text"
      placeholder="Search Cariba"
      class="px-3 py-2 rounded-l-lg w-full focus:outline-none"
      required
    />
    <button
      type="submit"
      class="flex items-center justify-center bg-primary px-1 rounded-r-lg hover:cursor-pointer"
    >
      <img
        src="../static/images/magnifying-glass.png"
        alt="Search icon"
        width="28px"
      />
    </button>
  </form>
</header>
{% endmacro %}
