__pycache__/*
api/__pycache__/*
models/__pycache__/base_model.cpython-311.pyc
models/__pycache__/product.cpython-311.pyc
models/__pycache__/user.cpython-311.pyc
models/engine/__pycache__/storage.cpython-311.pyc
misc/env_setup.sh
