Flask==2.3.3
sqlalchemy==2.0.23
flask_sqlalchemy==3.1.1
requests==2.31.0
flask-restx==1.2.0
flask-security-too==5.3.2
flask-admin==1.6.1
apispec==6.3.0
apispec-webframeworks==0.5.2
pyyaml==6.0.1
flask-wtf==1.2.1
flask-mailman==1.0.0
bleach==6.0.0
Flask-Cors==4.0.0
Flask-KVSession-fork==0.6.4
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-mailman==1.0.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-SocketIO==5.3.2
werkzeug==2.3.8
Flask-CKEditor==0.5.1
