{% from "security/_macros.html" import render_field_errors %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <title>Recover Password</title>
  </head>
  <body>
    <!-- component -->
    <body class="font-mono bg-darkPrimary">
      <!-- Container -->
      <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">
          <!-- Row -->
          <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <!-- Col -->
            <div
              class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
              style="
                background-image: url('https://images.unsplash.com/photo-1585572214973-0fd84fd354fd?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <!-- Col -->
            <div
              class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none"
            >
              <h3 class="pt-4 text-2xl text-center">Lets cut you a new keys!</h3>
              <form
                class="px-8 pt-6 pb-8 mb-4 bg-white rounded"
                method="POST"
                action="{{ url_for_security('forgot_password') }}"
                name="forgot_password_form"
              >
              {{ forgot_password_form.hidden_tag() }}
              <div class="mb-4">
                <label
                  class="block mb-2 text-sm font-bold text-gray-700"
                  for="email"
                >
                  Email
                </label>
                <input placeholder="user_name@domain.com" autocomplete="email" id="email" name="email" type="email" value="" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                {{ render_field_errors(forgot_password_form.email) }}
              </div>
                <div class="mb-6 text-center">
                  <button
                    class="w-full px-4 py-2 font-bold text-white bg-primary rounded-full hover:bg-darkPrimary focus:outline-none focus:shadow-outline"
                    type="submit"
                  >
                  Recover Password
                  </button>
                </div>
                <hr class="mb-6 border-t" />
                <div class="text-center">
                  <a
                    class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{{ url_for_security('register') }}"
                  >
                    Create an Account!
                  </a>
                </div>
                <div class="text-center">
                  <a
                    class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{{ url_for_security('login') }}"
                  >
                    Sign in!
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
