{% from "security/_macros.html" import render_field_with_errors, render_field,
render_field_errors, render_form_errors, prop_next %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/global.js"></script>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
  </head>
  <body>
    <!-- Flash message container -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% set flashType, message = messages[0] %} {% import
    'components/flash_notification.html' as notif %} {{
    notif.notification(flashType, message) }} {% endif %} {% endwith %}
    <!-- component -->
    <body class="font-mono bg-darkPrimary">
      <!-- Container -->
      <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">
          <!-- Row -->
          <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <!-- Col -->
            <div
              class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
              style="
                background-image: url('https://images.unsplash.com/photo-1585572214973-0fd84fd354fd?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <!-- Col -->
            <div
              class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none"
            >
              <h3 class="pt-4 text-2xl text-center">Welcome Back!</h3>
              <form
                class="px-8 pt-6 pb-8 mb-4 bg-white rounded"
                method="POST"
                action="{{ url_for_security('login') }}"
                name="login_user_form"
              >
                {{ login_user_form.hidden_tag() }} {{
                render_field_errors(login_user_form.csrf_token) }} {{
                render_form_errors(login_user_form) }}
                <div class="mb-4">
                  <label
                    class="block mb-2 text-sm font-bold text-gray-700"
                    for="username"
                  >
                    Username
                  </label>
                  <input
                    placeholder="Username"
                    autocomplete="username"
                    id="username"
                    name="username"
                    type="text"
                    value=""
                    minlength="4"
                    maxlength="15"
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  />
                  {{ render_field_errors(login_user_form.username) }}
                </div>
                <div class="mb-4">
                  <label
                    class="block mb-2 text-sm font-bold text-gray-700"
                    for="password"
                  >
                    Password
                  </label>
                  <input
                    placeholder="******************"
                    id="password"
                    name="password"
                    type="password"
                    minlength="4"
                    maxlength="80"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  />
                  {{ render_field_errors(login_user_form.password) }}
                  <p class="hidden text-xs italic text-red-500">
                    Please enter a correct password.
                  </p>
                </div>
                <div class="mb-4">
                  {{ render_field_with_errors(login_user_form.remember) }}
                </div>
                <div class="mb-6 text-center">
                  <button
                    class="w-full px-4 py-2 font-bold text-white bg-primary rounded-full hover:bg-darkPrimary focus:outline-none focus:shadow-outline"
                    type="submit"
                  >
                    Sign In
                  </button>
                </div>
                <hr class="mb-6 border-t" />
                <div class="text-center">
                  <a
                    class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{{ url_for_security('register') }}"
                  >
                    Create an Account!
                  </a>
                </div>
                <div class="text-center">
                  <a
                    class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                    href="{{ url_for_security('forgot_password') }}"
                  >
                    Forgot your password?
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
