<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/checkout.js"></script>
    <title>Checkout Cart</title>
  </head>

  <body>
    <!-- cart component -->
    <style>
      @layer utilities {
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    </style>
    {% import 'components/header.html' as header %} {{
    header.display_header(current_user) }}
    <div class="min-h-screen pt-12 bg-slate-50">
      <div class="pl-16">
        <p
          class="text-3xl lg:text-4xl text-darkPrimary font-semibold leading-7 lg:leading-9"
        >
          Check out
        </p>
      </div>
      <div class="mt-2 pl-16">
        <a
          href="{{url_for('my_cart')}}"
          class="text-base text-orange-500 leading-4 underline hover:text-slate-300"
          >Back to my cart</a
        >
      </div>
      <div
        class="flex justify-center items-center 2xl:container 2xl:mx-auto lg:py-16 md:py-12 py-9 px-4 md:px-6 lg:px-20 xl:px-44"
      >
        <div
          class="flex w-full sm:w-9/12 lg:w-full flex-col-reverse gap-4 lg:gap-0 lg:flex-row justify-center items-start lg:space-x-10 2xl:space-x-36 space-y-12 lg:space-y-0"
        >
          <div class="flex w-full flex-col justify-start items-start">
            <div class="">
              <p class="text-xl font-semibold text-darkPrimary leading-5">
                Shipping Details
              </p>
            </div>
            <form id="userDetails" onsubmit="toPayment(event, '{{ current_user.id }}')"
              class="mt-8 flex flex-col justify-start items-start w-full space-y-8"
              id="userDetails"
            >
              <input
                class="px-2 focus:outline-none focus:ring-2 focus:ring-gray-500 border-b border-gray-200 leading-4 text-base placeholder-gray-500 py-4 w-full shadow-md"
                type="text"
                name="first_name"
                placeholder="First Name"
                required
              />
              <input
                class="px-2 focus:outline-none focus:ring-2 focus:ring-gray-500 border-b border-gray-200 leading-4 text-base placeholder-gray-500 py-4 w-full shadow-md"
                type="text"
                name="last_name"
                placeholder="Last Name"
                required
              />
              <input
                class="px-2 focus:outline-none focus:ring-2 focus:ring-gray-500 border-b border-gray-200 leading-4 text-base placeholder-gray-500 py-4 w-full shadow-md"
                type="text"
                name="address1"
                placeholder="Address"
                required
              />
              <input
                class="px-2 focus:outline-none focus:ring-2 focus:ring-gray-500 border-b border-gray-200 leading-4 text-base placeholder-gray-500 py-4 w-full shadow-md"
                type="text"
                name="address2"
                placeholder="Address (line 02)"
              />
              <div
                class="flex justify-between flex-col sm:flex-row w-full items-start space-y-8 sm:space-y-0 sm:space-x-8"
              >
                <div class="relative w-full">
                  <input
                    id="cityField"
                    class="focus:outline-none placeholder-gray-500 focus:ring-2 focus:ring-gray-500 px-2 border-b border-gray-200 leading-4 text-base pt-4 pb-3 w-full shadow-md"
                    type="text"
                    name="city"
                    placeholder="City"
                    required
                  />
                </div>

                <div class="relative w-full">
                  <input
                    id="regionField"
                    class="focus:outline-none placeholder-gray-500 focus:ring-2 focus:ring-gray-500 px-2 border-b border-gray-200 leading-4 text-base pt-4 pb-3 w-full shadow-md"
                    type="text"
                    name="region"
                    placeholder="Region (optional)"
                  />
                </div>
              </div>
              <div
                class="flex justify-between flex-col sm:flex-row w-full items-start space-y-8 sm:space-y-0 sm:space-x-8"
              >
                <div class="relative w-full">
                  <input
                    id="countryField"
                    class="focus:outline-none placeholder-gray-500 focus:ring-2 focus:ring-gray-500 px-2 border-b border-gray-200 leading-4 text-base pt-4 pb-3 w-full shadow-md"
                    type="text"
                    name="country"
                    placeholder="Country"
                    required
                  />
                </div>
                <div class="w-full">
                  <input
                    class="focus:outline-none placeholder-gray-500 focus:ring-2 focus:ring-gray-500 px-2 border-b border-gray-200 leading-4 text-base pt-4 pb-3 w-full shadow-md"
                    type="number"
                    name="zip_code"
                    placeholder="Zip Code"
                    required
                  />
                </div>
              </div>
              <input
                class="focus:outline-none focus:ring-2 focus:ring-gray-500 px-2 border-b border-gray-200 leading-4 text-base placeholder-gray-500 py-4 w-full shadow-md"
                type="text"
                name="phone"
                placeholder="Phone Number"
                required
              />
              <input
                type="submit"
                id="submit"
                class="mt-6 w-full rounded-md bg-primary py-1.5 font-medium text-blue-50 hover:bg-darkPrimary"
              />
            </form>
            <!-- Replace src value with your own sandbox Business account app client ID -->
            <script src="https://www.paypal.com/sdk/js?client-id=AX46bRFoOrSKtIJvRtTxqsZn2rt0S3mKrP-QO-OuBv4YoNto51rBXFsWRQzZL_BZEClkUOKQV7gm11V_&currency=USD"></script>
            <!-- Set up a container element for the button -->
            <div
              id="paypal-button-container"
              class="hidden mt-8 text-base font-medium leading-4 py-4 w-full md:w-4/12 lg:w-full text-white"
            ></div>
            <script>    
              paypal
                .Buttons({
                  // Sets up the transaction when a payment button is clicked
                  createOrder: (data, actions) => {
                    return actions.order.create({
                      purchase_units: [
                        {
                          amount: {
                            value:
                              "{{ (cart.total_price + cart.shipping)|round(2) }}", // Can also reference a variable or function
                          },
                        },
                      ],
                    });
                  },
                  // Finalize the transaction after payer approval
                  // Finalize the transaction on the server after payer approval
                  onApprove: (data, actions) => {
                    return fetch(`/payments/${data.orderID}/capture`, {
                      method: "post",
                    })
                      .then((response) => response.json())
                      .then((orderData) => {
                        // Successful capture! For dev/demo purposes:
                        console.log(
                          "Capture result",
                          orderData,
                          JSON.stringify(orderData, null, 2)
                        );
                        const transaction =
                          orderData.purchase_units[0].payments.captures[0];
                        // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        const element = document.getElementById(
                          "paypal-button-container"
                        );
                        element.innerHTML =
                          "<h3>Thank you for your payment!</h3>";
                        // Or go to another URL:  actions.redirect('thank_you.html');
                      });
                  },
                })
                .render("#paypal-button-container");
            </script>
            <!--<button class="focus:outline-none focus:ring-2 dark:bg-gray-800 dark:text-white focus:ring-gray-500 focus:ring-offset-2 mt-8 text-base font-medium focus:ring-2 focus:ring-ocus:ring-gray-800 leading-4 hover:bg-black py-4 w-full md:w-4/12 lg:w-full text-white bg-gray-800">Proceed to payment</button>-->
            <div class="mt-4 flex justify-start items-center w-full">
              <a
                href="{{url_for('my_cart')}}"
                class="text-base text-orange-500 leading-4 underline hover:text-slate-300"
                >Back to my cart</a
              >
            </div>
          </div>

          <div
            class="flex bg-white flex-col justify-start items-start b w-full p-6 md:p-14 shadow-md"
          >
            <div>
              <h1 class="text-2xl font-semibold leading-6 text-gray-800">
                Order Summary
              </h1>
            </div>
            <div class="flex mt-7 flex-col items-end w-full space-y-6">
              <!--<div class="flex justify-between w-full items-center">
                        <p class="text-lg dark:text-gray-300 leading-4 text-gray-600">Total items</p>
                        <p class="text-lg dark:text-gray-300 font-semibold leading-4 text-gray-600">20</p>
                    </div>-->
              <div class="flex justify-between w-full items-center">
                <p class="text-lg leading-4 text-gray-600">Total Charges</p>
                <p class="text-lg font-semibold leading-4 text-gray-600">
                  ${{ cart.total_price }}
                </p>
              </div>
              <div class="flex justify-between w-full items-center">
                <p class="text-lg leading-4 text-gray-600">Shipping charges</p>
                <p class="text-lg font-semibold leading-4 text-gray-600">
                  ${{ cart.shipping }}
                </p>
              </div>
              <!--<div class="flex justify-between w-full items-center">
                        <p class="text-lg dark:text-gray-300 leading-4 text-gray-600">Sub total</p>
                        <p class="text-lg dark:text-gray-300 font-semibold leading-4 text-gray-600">$3520</p>
                    </div>-->
            </div>
            <div class="flex justify-between w-full items-center mt-16">
              <p class="text-xl font-semibold leading-4 text-gray-800">
                Estimated Total
              </p>
              <p class="text-lg font-semibold leading-4 text-gray-800">
                ${{ (cart.total_price + cart.shipping)|round(2) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
