<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/global.js"></script>
    <script src="../static/scripts/addCar.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer
    ></script>

    <title>Cariba</title>
  </head>
  <body class="bg-darkPrimary">
    <!-- header macro -->
    {% import 'components/header.html' as header %} {{
    header.display_header(current_user) }}

    <!-- hero macro -->
    {%import'components/hero.html' as hero %} {{ hero.display_hero() }}

    <!-- add car -->
    <div class="flex items-center my-8 py-8 px-4 max-md:flex-col gap-16">
      <div class="border-2 border-white rounded-lg p-2">
        <div class="border-2 border-primary rounded-lg">
          <img
            class="translate-x-14"
            src="../static/images/ford.png"
            alt="ford car image"
            width="512px"
          />
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div>
          <h3 class="text-xl text-white">Find parts for your car</h3>
          <p class="text-slate-400">
            Add your vehicle and we will find the right parts for you!
          </p>
        </div>
        <div>
          <button onclick="openCarModal()" class="px-8 py-2 bg-primary">
            <span class="font-medium text-white">Add a car</span>
          </button>
        </div>
      </div>
    </div>

    <!-- shop by category -->
    <section class="flex flex-col px-8 pt-8 pb-16 gap-4">
      <h2 class="text-white text-3xl">Shop by categories</h2>
      <div class="flex flex-wrap gap-6 justify-center pt-4">
        {% for category in categories %}
        <a href="/categories/{{ category.name }}">
          <div
            class="w-[210px] py-3 text-center text-xl border-2 border-slate-200 text-white hover:bg-primary hover:border-primary transition-transform hover:-translate-y-1"
          >
            {{ category.name }}
          </div></a
        >
        {% endfor %}
      </div>
    </section>
    <!-- popular products -->
    <section class="flex flex-col p-4 gap-4">
      <h2 class="text-white text-3xl">Popular products</h2>
      <div class="flex flex-wrap gap-3 justify-start">
        {% for prod in popular %} {% import 'components/product_card.html' as
        product %} {{ product.product_card(prod, current_user) }} {% endfor %}
      </div>
    </section>

    <!-- add car modal -->
    <div
      id="carModal"
      class="w-full items-center justify-center bg-slate-500 absolute hidden"
    >
      <div
        class="fixed left-0 right-0 top-0 flex items-center justify-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm z-50 h-screen max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-2xl">
          <!-- Modal content -->
          <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
              class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600"
            >
              <h3
                class="text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl"
              >
                Add Car
              </h3>
              <button
                type="button"
                onclick="closeCarModal()"
                class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                <svg
                  class="h-3 w-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="space-y-6 p-6">
              <p>
                If you know your car's VIN (Vehicle Identification Number),
                please switch to the "Car VIN" tab.
              </p>
              <div
                x-data="{ tab: 'fullDetails' }"
                class="w-full mx-auto bg-white rounded-md"
              >
                <div class="flex flex-row mb-6">
                  <button
                    @click="tab = 'fullDetails'"
                    :class="{ 'text-primary': tab === 'fullDetails', 'border-primary': tab === 'fullDetails'}"
                    class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 font-bold"
                  >
                    Car Details
                  </button>
                  <button
                    @click="tab = 'vinDetails'"
                    :class="{ 'text-primary': tab === 'vinDetails', 'border-primary': tab === 'vinDetails' }"
                    class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 font-bold"
                  >
                    Car VIN
                  </button>
                </div>

                <div x-show="tab === 'fullDetails'">
                  <form>
                    <!-- Full details form fields (name, model, year) -->
                    <div class="mb-4">
                      <label
                        for="carName"
                        class="block text-gray-600 text-sm font-medium mb-2"
                        >Car Name:</label
                      >
                      <input
                        type="text"
                        id="carName"
                        name="carName"
                        class="w-full border border-gray-300 p-2 rounded-md"
                      />
                    </div>

                    <div class="mb-4">
                      <label
                        for="carModel"
                        class="block text-gray-600 text-sm font-medium mb-2"
                        >Car Model:</label
                      >
                      <input
                        type="text"
                        id="carModel"
                        name="carModel"
                        class="w-full border border-gray-300 p-2 rounded-md"
                      />
                    </div>

                    <div class="mb-4">
                      <label
                        for="carYear"
                        class="block text-gray-600 text-sm font-medium mb-2"
                        >Car Year:</label
                      >
                      <input
                        type="text"
                        id="carYear"
                        name="carYear"
                        class="w-full border border-gray-300 p-2 rounded-md"
                      />
                    </div>
                  </form>
                </div>

                <div x-show="tab === 'vinDetails'">
                  <form>
                    <!-- VIN details form fields (VIN) -->
                    <div class="mb-4">
                      <label
                        for="carName"
                        class="block text-gray-600 text-sm font-medium mb-2"
                        >Car Name:</label
                      >
                      <input
                        type="text"
                        id="carName"
                        name="carName"
                        class="w-full border border-gray-300 p-2 rounded-md"
                      />
                    </div>
                    <div class="mb-4">
                      <label
                        for="carVin"
                        class="block text-gray-600 text-sm font-medium mb-2"
                        >VIN (Vehicle Identification Number):</label
                      >
                      <input
                        type="text"
                        id="carVin"
                        name="carVin"
                        class="w-full border border-gray-300 p-2 rounded-md"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div
              class="flex items-center space-x-2 rtl:space-x-reverse rounded-b border-t border-gray-200 p-6"
            >
              <button
                type="button"
                class="rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-darkPrimary focus:outline-none focus:ring-4 focus:ring-blue-300"
              >
                Save
              </button>
              <button
                type="button"
                onclick="closeCarModal()"
                class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {% import 'components/footer.html' as footer %} {{ footer.footer() }}
  </body>
</html>
