<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/global.js"></script>
    <script src="../static/scripts/addCar.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer
    ></script>

    <title>Cariba</title>
  </head>
  <body class="bg-darkPrimary">
    <!-- header macro -->
    {% import 'components/header.html' as header %} {{
    header.display_header(current_user) }}

    <!-- hero macro -->
    {%import'components/hero.html' as hero %} {{ hero.display_hero() }}

    <!-- add car -->
    <div class="flex items-center my-8 py-8 px-4 max-md:flex-col gap-16">
      <div class="border-2 border-white rounded-lg p-2">
        <div class="border-2 border-primary rounded-lg">
          <img
            class="translate-x-14"
            src="../static/images/ford.png"
            alt="ford car image"
            width="512px"
          />
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div>
          <h3 class="text-xl text-white">Find parts for your car</h3>
          <p class="text-slate-400">
            Add your vehicle and we will find the right parts for you!
          </p>
        </div>
        <div>
          {% if not current_user.is_authenticated %}
          <button
            onclick="window.location.href = '/login'"
            class="px-8 py-2 bg-primary"
          >
            <span class="font-medium text-white">Add a car</span>
          </button>
          {% else %}
          <button onclick="openCarModal()" class="px-8 py-2 bg-primary">
            <span class="font-medium text-white">Add a car</span>
          </button>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- shop by category -->
    <section class="flex flex-col px-8 pt-8 pb-16 gap-4">
      <h2 class="text-white text-3xl">Shop by categories</h2>
      <div class="flex flex-wrap gap-6 justify-center pt-4">
        {% for category in categories %}
        <a href="/categories/{{ category.name }}">
          <div
            class="w-[210px] py-3 text-center text-xl border-2 border-slate-200 text-white hover:bg-primary hover:border-primary transition-transform hover:-translate-y-1"
          >
            {{ category.name }}
          </div></a
        >
        {% endfor %}
      </div>
    </section>
    <!-- popular products -->
    <section class="flex flex-col p-4 gap-4">
      <h2 class="text-white text-3xl">Popular products</h2>
      <div class="flex flex-wrap gap-3 justify-start">
        {% if popular|length == 0%}
        <p class="text-white">
          No product is compatible with any of the cars in your garage, make
          sure your car information is correct
        </p>
        {% else %} {% for prod in popular %} {% import
        'components/product_card.html' as product %} {{
        product.product_card(prod, current_user) }} {% endfor %} {% endif %}
      </div>
    </section>

    <!-- add car modal -->
    {% import 'components/car_modal.html' as car_modal %} {{
    car_modal.carModal() }}

    <!-- Flash message container -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% set flashType, message = messages[0] %} {% import
    'components/flash_notification.html' as notif %} {{
    notif.notification(flashType, message) }} {% endif %} {% endwith %}

    <!-- footer -->
    {% import 'components/footer.html' as footer %} {{ footer.footer() }}
  </body>
</html>
