<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/global.js"></script>
    <script src="../static/scripts/addCar.js"></script>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <!-- BEGIN: Tailwind -->
    <script src="https://cdn.tailwindcss.com?plugins=aspect-ratio,line-clamp"></script>
    <!-- END: Tailwind -->

    <!-- BEGIN: Alpinejs -->
    <script defer src="https://unpkg.com/alpinejs"></script>
    <script>
      const GmailKit = () => ({
        loaded: false,
        postContent: null,
        postContentComments: null,
        sidebarExtended: true,
        currentSubreddit: "all",
        subreddits: [
          "all",
          "notifications",
          "payments",
          "features",
          "alerts",
        ],
        subredditIcons: [
          "https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_fill_baseline_p900_20dp.png",
          "https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png",
          "https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/schedule_baseline_nv700_20dp.png",
          "https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_baseline_nv700_20dp.png",
          "https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/draft_baseline_nv700_20dp.png",
        ],
        altSubredditIcons:
          "https://www.gstatic.com/images/icons/material/system/1x/flag_gm_blue_20dp.png",

        subredditItems: [],
        subredditLoaded: false,
        viewedPosts: {},

        init() {
          this.loaded = true;
          this.changeSubreddit(this.subreddits[0]);
        },

        addSubreddit() {
          let subreddit = prompt("Enter a subreddit name");
          if (subreddit) this.subreddits.push(subreddit);
        },

        changeSubreddit(subreddit) {
          this.currentSubreddit = subreddit;
          this.fetchSubreddit(subreddit);
        },

        fetchSubreddit(subreddit) {
          this.subredditLoaded = false;
          this.subredditItems = [];
          fetch(`api/messages/{{ current_user.id }}/${subreddit}`)
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
              this.subredditItems = data;
              this.subredditLoaded = true;
            });
        },

        fetchPost(postData) {
          this.postContent = postData;
          this.fetchPostComments(postData.body);
          this.viewedPosts[postData.id] = true;
        },

        fetchPostComments(postId) {
          this.postContentComments = [];
          this.postContentComments = postId;
        },
      });
    </script>
    <!-- END: Alpinejs -->
</head>
<body class="w-full h-screen overflow-hidden flex items-center" style="background: #edf2f7;">
    <main x-data="GmailKit" class="w-full">
      <template x-if="loaded">
        <div class="h-screen flex">
          <!-- BEGIN: Navbar -->
          <nav
            class="w-16 h-full bg-[#eaf1fb] flex flex-col items-center space-y-4 py-2"
          >
            <button
              @click="sidebarExtended = !sidebarExtended"
              class="flex items-center justify-center hover:bg-[#dae1eb] rounded-full w-12 h-12"
            >
              <svg focusable="false" viewBox="0 0 24 24" class="w-6 h-6">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </svg>
            </button>

            <button>
              <div
                class="w-12 h-8 rounded-full bg-blue-200/50 mx-auto bg-center bg-no-repeat"
                style="
                  background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/mail_fill_baseline_p900_20dp.png');
                "
              ></div>
              <p class="text-xs">Message</p>
            </button>
          </nav>
          <!-- END: Navbar -->
          <!-- BEGIN: Sidebar -->
          <template x-if="sidebarExtended">
            <aside class="w-64 bg-gray-50 h-screen py-3 px-6">
              <button
                @click="addSubreddit"
                class="px-3 py-3 bg-cyan-400/30 rounded-xl my-6 flex flex-row space-x-4 items-center"
              >
                <div
                  class="w-6 h-6 object-fill bg-no-repeat"
                  style="
                    background-image: url('https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_24dp.png');
                  "
                ></div>
                <p class="text-sm pr-4">Compose Message</p>
              </button>

              <div class="flex flex-col space-y-0">
                <template x-for="(subreddit, index) in subreddits">
                  <div
                    @click="changeSubreddit(subreddit)"
                    class="flex items-center space-x-2 rounded-full py-2 px-4 cursor-pointer"
                    :class="{ 'bg-blue-200/80 font-bold': subreddit === currentSubreddit, 'hover:bg-gray-200/80': subreddit !== currentSubreddit }"
                  >
                    <div class="w-4 h-4 rounded-full">
                      <img
                        :src="(subredditIcons.length <= index) ? altSubredditIcons : subredditIcons[index]"
                        alt="Subreddit Icon"
                      />
                    </div>
                    <div
                      class="text-sm font-medium text-gray-700"
                      x-text="subreddit"
                    ></div>
                  </div>
                </template>
              </div>

             
            </aside>
          </template>
          <!-- END: Sidebar -->

          <div class="flex-1 h-screen max-h-screen flex flex-col">
            <!-- BEGIN: Menu bar -->
            {% import 'components/header.html' as header %} {{
                header.display_header(current_user) }}
            <!-- BEGIN: Prelist actions -->
            <div class="w-full flex flex-row items-center p-4">
              <div>
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_outline_blank_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/arrow_drop_down_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/archive_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/report_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-6 border-r border-gray-200">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pl-6 pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/mail_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/schedule_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pr-6 border-r border-gray-200">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/add_task_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pl-6 pr-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/drive_file_move_outline_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pl-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
              <div class="pl-4">
                <div
                  class="w-5 h-5 bg-contain bg-no-repeat"
                  style="
                    background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/more_vert_baseline_nv700_20dp.png');
                  "
                ></div>
              </div>
            </div>
            <!-- END: Prelist actions -->
            <!-- END: Menu bar -->
            <div class="flex flex-row flex-1 overflow-y-auto">
              <!-- BEGIN: List posts -->
              <div class="h-full max–h-full flex-1 overflow-y-scroll">
                <template x-for="item in subredditItems">
                  <div
                    @click="fetchPost(item)"
                    class="flex flex-row items-center space-x-4 py-2 px-4 cursor-pointer max-w-full border-b border-gray-200"
                    :class="{ 'bg-gray-200/80': viewedPosts[item.id], 'bg-blue-200': postContent !== null && postContent.id === item.id, 'hover:bg-gray-100': postContent !== null && postContent.id !== item.id }"
                  >
                    <div>
                      <input type="checkbox" />
                    </div>
                    
                    <div>
                      <div class="w-36 max-w-36">
                        <p
                          class="line-clamp-1 text-sm"
                          x-text="item.author"
                        ></p>
                      </div>
                    </div>
                    <div class="flex-1">
                      <p
                        class="line-clamp-1 text-sm"
                        x-text="item.title"
                      ></p>
                    </div>
                    <div>
                      <p
                        class="text-sm"
                        x-text="item.created"
                      ></p>
                    </div>
                  </div>
                </template>
              </div>
              <!-- END: List posts -->

              <!-- BEGIN: Post content -->
              <article class="flex-1 bg-white overflow-y-scroll">
                <template x-if="postContent === null">
                  <div class="p-8">
                    <p>Welcome to GmailKit!</p>
                    <i class="italic"
                      >Select a subreddit to get started. You can add subreddits
                      by clicking the "Compose" button</i
                    >
                  </div>
                </template>
                <template x-if="postContent !== null">
                  <div class="px-8">
                    <h1 class="text-xl" x-text="postContent.title"></h1>
                    <div>
                      <div
                        class="px-[0.25rem] rounded bg-neutral-200 text-gray-800 text-xs w-fit"
                      >
                        Inbox
                      </div>
                    </div>
                    <div class="flex flex-row space-x-4 items-center">
                      <div class="w-10 h-10">
                        <img
                          :src="postContent.thumbnail"
                          onerror="this.src = 'https://lh3.googleusercontent.com/a/default-user=s40-p'"
                          class="rounded-full object-cover w-10 h-10 aspect-square"
                        />
                      </div>
                      <div class="flex flex-col justify-between py-2">
                        <div>
                          <p
                            class="font-medium text-sm"
                            x-text="postContent.author"
                          ></p>
                        </div>
                        <div><p class="text-xs text-gray-700">to me</p></div>
                      </div>
                      <div
                        class="flex-1 flex flex-col justify-between items-end py-2"
                      >
                        <div class="flex flex-row items-center space-x-2">
                          <div>
                            <p
                              class="text-gray-500 text-xs"
                              x-text="postContent.created"
                            ></p>
                          </div>
                          <div>
                            <div
                              class="w-4 h-4 bg-no-repeat bg-contain"
                              style="
                                background-image: url('https://www.gstatic.com/images/icons/material/system_gm/1x/star_border_black_20dp.png');
                              "
                            ></div>
                          </div>

                          <div>
                            <div
                              class="w-4 h-4 bg-no-repeat bg-contain"
                              style="
                                background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/reply_baseline_nv700_20dp.png');
                              "
                            ></div>
                          </div>

                          <div>
                            <div
                              class="w-4 h-4 bg-no-repeat bg-contain"
                              style="
                                background-image: url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/more_vert_baseline_nv700_20dp.png');
                              "
                            ></div>
                          </div>
                        </div>
                        <div>
                          <p
                            class="font-medium text-sm opacity-0"
                            x-text="postContent.author"
                          ></p>
                        </div>
                      </div>
                    </div>
                    <p
                      class="text-sm text-black-500 pl-14"
                      x-text="postContent.body"
                    ></p>

                    
                  </div>
                </template>
              </article>
              <!-- END: Post content -->
            </div>
          </div>
        </div>
      </template>
      <template x-if="!loaded">
        <div class="h-screen flex justify-center items-center">
          <div
            class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"
          ></div>
        </div>
      </template>
      
    </main>
    <!-- footer -->
    
</body>
</html>