<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/styles.css" />
    <script src="../static/scripts/product_details.js"></script>
    <script src="../static/scripts/global.js"></script>

    <title>{{ product.name }}</title>
  </head>
  <body class="bg-white">
    {% import 'components/header.html' as header %} {{
      header.display_header(current_user) }}
      <div class="flex flex-row flex-wrap justify-center w-full">
        {% if current_user.is_authenticated %}
        {% for car in current_user.cars %}
        {% if product.is_supported(car) %}
        <div class="supported">
          Compatible with your {{ car.name }} ({{ car.make }} {{ car.model}})
        </div>
        {% else %}
        <div class="unsupported">
          Not compatible with your {{ car.name }} ({{ car.make }} {{ car.model}})
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    <div
      class="my-8 py-8 mx-auto rounded-lg flex justify-center flex-wrap gap-3 min-h-[75vh] bg-white"
    > 
      <div class="flex flex-col p-4 gap-2">
        <div class="w-72 h-72">
          <img
            id="big_image"
            src="{{ url_for('static', filename='images/pics/' + product.icon + '.jpg') }}"
            alt="car oil"
            class="border-[1px] w-72 h-72 object-contain border-slate-700"
          />
        </div>

        <div id="imgs_holder" class="flex gap-2 justify-between">
          <img
            class="w-16 h-16 border-[1px] border-slate-700 object-contain cursor-pointer"
            id="image_1"
            src="{{ url_for('static', filename='images/pics/' + product.icon + '.jpg') }}"
            alt="car oil"
            width="64px"
          />
          <img
            class="w-16 h-16 border-[1px] border-slate-700 object-contain cursor-pointer"
            id="image_2"
            src="{{ url_for('static', filename='images/pics/' + product.icon + '.jpg') }}"
            alt="car oil"
            width="64px"
          />
          <img
            class="w-16 h-16 border-[1px] border-slate-700 object-contain cursor-pointer"
            id="image_3"
            src="{{ url_for('static', filename='images/pics/' + product.icon + '.jpg') }}"
            alt="car oil"
            width="64px"
          />
          <img
            class="w-16 h-16 border-[1px] border-slate-700 object-contain cursor-pointer"
            id="image_4"
            src="{{ url_for('static', filename='images/pics/' + product.icon + '.jpg') }}"
            alt="car oil"
            width="64px"
          />
        </div>
      </div>
      <div class="p-4">
        <h3 class="text-xl w-100 font-semibold">{{ product.name }}</h3>
        <ul class="my-2 pl-2 w-100 py-1 border-y-2 border-slate-300">
          {{ product.description }}
        </ul>
        <div
          class="my-1 pl-2 py-1 flex flex-col border-b-2 border-slate-300 gap-4"
          action="/submit_form"
          method="post"
        >
          <div class="flex items-center gap-2">
            <label for="quantityInput">Quantity:</label>
            <!-- <input
              class="text-right p-1 border-[1px] border-black rounded-lg"
              type="number"
              id="quantityInput"
              name="quantity"
              value="1"
              min="1"
              max="100"
            /> -->
            <div class="flex items-center border-gray-100">
              <span
                id="decreaseQuantity"
                class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50"
                onclick="decreaseProductQuantity()"
              >
                -
              </span>
              <input
                id="quantityCount"
                class="h-8 w-8 border bg-white text-center text-xs outline-none"
                type="number"
                value="1"
                min="1"
                max="{{ product.quantity }}"
              />
              <span
                id="increaseQuantity"
                class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50"
                onclick="IncreaseCartItem('{{ product.id }}', false)"
              >
                +
              </span>
            </div>
            <p id="totalQuantity" class="text-red-600">
              / {{ product.quantity }} left
            </p>
          </div>

          <h3 class="">
            Price:
            <span class="text-primary text-2xl">{{ product.price }}$</span>
          </h3>
          <div class="flex gap-3">
            <button
              onclick="{{ 'buyNow(\'' ~ product.id ~ '\', this)' if (current_user.is_authenticated) else 'window.location.href = \'' ~ url_for('my_cart') ~ '\'' }}"
              class="bg-primary text-white py-2 px-4 rounded-lg cursor-pointer"
            >
              Buy Now
            </button>
            <button
              onclick="{{ 'addToCart2(\'' ~ product.id ~ '\', this)' if (current_user.is_authenticated) else 'window.location.href = \'' ~ url_for('my_art') ~ '\'' }}"
              class="bg-darkPrimary text-white py-2 px-4 rounded-lg cursor-pointer"
            >
              Add to cart
            </button>
          </div>
          <div class="flex items-center gap-2">
            <h3 class="">Payments:</h3>
            <img
              class="w-16"
              src="../static/images/payments/Paypal.jpg"
              alt="paypal"
            />
            <img
              class="w-16"
              src="../static/images/payments/MasterCard.png"
              alt="MasterCard"
            />
            <img
              class="w-16"
              src="../static/images/payments/Visa.png"
              alt="Visa"
            />
          </div>
        </div>
        <div class="flex gap-1 items-center pl-2">
          <h3>
            Rating: <span class="font-semibold">{{ product.rating }}</span>
          </h3>
          <img class="w-4 h-4" src="../static/images/star-yellow.png" />
          <a href="#reviews_section"><span>(25 reviews)</span></a>
        </div>
      </div>
    </div>

    <section id="reviews_section" class="p-5">
      <h2 class="text-3xl">Reviews</h2>
      <div class="flex flex-col pl-8 gap-3">
        <!-- review -->
        <div class="py-2 px-2 bg-slate-100">
          <h4 class="text-lg font-bold">User123</h4>
          <p class="text-xs">25-11-2022</p>
          <p class="pt-1">
            I recently purchased the SuperTech XYZ Smartphone, and I'm
            absolutely thrilled with my decision. The sleek design and powerful
            features make it a standout in the smartphone market.
          </p>
        </div>
        <!-- review -->
        <div class="py-2 px-2 bg-slate-100">
          <h4 class="text-lg font-bold">User123</h4>
          <p class="text-xs">25-11-2022</p>
          <p class="pt-1">
            I recently purchased the SuperTech XYZ Smartphone, and I'm
            absolutely thrilled with my decision. The sleek design and powerful
            features make it a standout in the smartphone market.
          </p>
        </div>
        <!-- review -->
        <div class="py-2 px-2 bg-slate-100">
          <h4 class="text-lg font-bold">User123</h4>
          <p class="text-xs">25-11-2022</p>
          <p class="pt-1">
            I recently purchased the SuperTech XYZ Smartphone, and I'm
            absolutely thrilled with my decision. The sleek design and powerful
            features make it a standout in the smartphone market.
          </p>
        </div>
        <!-- review -->
        <div class="py-2 px-2 bg-slate-100">
          <h4 class="text-lg font-bold">User123</h4>
          <p class="text-xs">25-11-2022</p>
          <p class="pt-1">
            I recently purchased the SuperTech XYZ Smartphone, and I'm
            absolutely thrilled with my decision. The sleek design and powerful
            features make it a standout in the smartphone market.
          </p>
        </div>
      </div>
      <div class="flex justify-center pt-3">
        <div
          id="load_more_products"
          class="bg-slate-700 text-white py-2 px-6 rounded-full cursor-pointer"
        >
          Load more
        </div>
      </div>
    </section>

    <!-- popular products -->
    <section class="flex flex-col p-8 gap-4">
      <h2 class="text-black text-3xl">Popular products</h2>
      <div class="flex flex-wrap justify-around gap-6 justify-start">
        {% if popular|length == 0%}
        <p class="text-gray-900">No product is compatible with any of the cars in your garage, make sure your car information is correct</p> 
        {% else %}
        {% for prod in popular %} {% import 'components/product_card.html' as
        product %} {{ product.product_card(prod, current_user) }} {% endfor %}
        {% endif %}
      </div>
    </section>
    {% import 'components/footer.html' as footer %} {{ footer.footer() }}
  </body>
</html>
